# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next
/out

# Production
/build

# Misc
.DS_Store
*.pem

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*.local
.env

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Compiled output
/dist
/lib

# TypeScript cache files
*.tsbuildinfo

# Nx cache files
/nx-cache

# Prisma Client
/node_modules/.prisma/client
